{% extends "global.html" %}

{% load static%}

{% block stylesheets%}
    <link rel="stylesheet" href="{% static 'test_website/css/post_display.css' %}">
{% endblock %}

{% block title %}
Cat-pics
{% endblock %}

{%block content %}

{% for x in data %}
<div class="post-block"><!--Post block-->
    
    <div class="image-block"><!--Image-->

        <a class="image-link" href="{{ x.image.url }}">

            <img class="image" src="{{ x.image.url }}" alt="{{ x.title}}">
        
        </a>

    </div>

    <div class="text-block "><!--Textbox: Likes, comments-->
        
        <h3>{{x.title}}</h3>

    </div>

</div>
    
{% endfor %}

{% endblock %}
