{% extends "global.html" %}

{% load static%}

{% block stylesheets%}
<link rel="stylesheet" href="{% static 'test_website/css/post_display.css' %}">
{% endblock %}

{% block title %}
Cat-pics
{% endblock %}

{%block content %}

{% for x in data %}
<div class="post-block"><!--Post block-->
    
    <div class="image-block"><!--Image-->
        <a href="{{ x.image.url }}">
            <img src="{{ x.image.url }}" alt="{{ x.title}}" style="width:50%">
        </a>
    </div>

    <div class="text-block "><!--Textbox: Likes, comments-->

    </div>
</div>
    
{% endfor %}

{% endblock %}
