{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'test_website/css/global.css' %}">
  {% block stylesheets %}
  {% endblock %}
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% if user.is_authenticated %}
<!-- Navigation -->
<div class="topnav">
  <a href="/">Home</a>
  <a href="cats">Cats</a>

  <a style="color:red;float: right;" href="{% url 'logout' %}">Log Out</a>
</div>

<br>

{% block content %}
{% endblock %}

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}


</body>

</html>