{% extends "global.html" %}

{% block title %}
    Log-In
{% endblock %}

{% block content %}
<h1>Log-In</h1>

<form action="home/" method="post" id="login-form">{% csrf_token %} 
    <!--<input type="hidden" name="csrfmiddlewaretoken" value="SLhD69oiOEHZyqwkeDvwHS5sNGJDtZiEZwRWhJIm5nE5iieqm6ohACGsPHnIMQ3e"> -->
      
    <label for="id_username">Username:</label> 
    <input type="text" name="username" maxlength="250" required id="id_username">
    <br>
    <label for="id_password">Password:</label> 
    <input type="password" name="password"  required id="id_password">
     
    
    <input type="submit" value="Log in">
    

  </form>

{% endblock %}